

  <h1>Products</h1>

  <h2 id="welcome">Welcome <span>{{user.first_name}} {{user.last_name}}</span>!</h2>

  <h2>Current cart: <a href="/cart">{{cart}}</a></h2>

  <div id="products">

    {{#each products}}
    <div class="product">
      <p class="header">{{this.code}}</p>
      <h2>{{this.title}}</h2>
      <h3>{{this.price}}</h3>
      <p>{{this.description}}</p>

      <button onClick="window.location.href = '/products/{{this.id}}'">See product</button>
      {{#if ../isUser}}
      <button onclick="addToTheCart('{{../cart}}','{{this.id}}','{{../isPremium}}','{{../user.email}}','{{this.owner}}')">Add to the cart</button>
      {{/if}}
    </div>
    {{/each}}
    
  </div>

  <div>
  <button id="addProduct" onclick="window.location.href='/addproduct'">Add product</button>
  </div>

  <script src="/scripts/products.js"></script>
