

  <h1>Products</h1>

  <h2 id="welcome">Welcome <span>{{user.first_name}} {{user.last_name}}</span>!</h2>

  <h2>Current cart: <a href="/cart">{{cart}}</a></h2>

  <div id="products">

    {{#each products}}
    <div class="product">
      <p class="header">{{this.code}}</p>
      <h2>{{this.title}}</h2>
      <h3>{{this.price}}</h3>
      <p>{{this.description}}</p>

      <button onclick="addToTheCart('{{../cart}}','{{this.id}}')">Añadir al carrito</button>
    </div>
    {{/each}}
    
  </div>

  <script src="/scripts/products.js"></script>
